<header class="app-header">
  <div class="logo">
    <span class="title">Pokeguessr</span>
  </div>

  @if(state){
    <div style="display: flex; gap: 3em;">
      <h2 class="hgss-text hgss-text-button header-text">Lives: {{state.lives}}</h2>
      <h2 class="hgss-text hgss-text-button header-text">Score: {{state.score}}</h2>
    </div>
  }

  <div class="nav">
    <button (click)="overlayActive = !overlayActive">
      Toggle Panel
    </button>
  </div>

  @if(overlayActive){
    <div class="backdrop" (click)="overlayActive = false"></div>
  }
  <div class="side-panel" [class.active]="overlayActive">
    <div *ngFor="let item of backgroundList">
      <button style="width: 100%;" (click)="setBackground(item)">{{item.name}}</button>
    </div>
  </div>
</header>