/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}
body{
    overflow: hidden;
    display: flex;
    justify-content: center;
}


#game-wrapper {
  position: relative;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;      
  transform: scale(1);  
  transform-origin: top left;
}

@font-face{
  font-family: "PokemonHGSS";
  src: url("./assets/fonts/PKMN-HGSS-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hgss-text{
  font-family: 'PokemonHGSS', sans-serif;
  font-size: 32px;
  color: rgb(66, 66, 66);
  text-shadow: 1.5px 1.5px 0px rgb(181, 181, 181);
  letter-spacing: -0.5px;
}