.wrapper {
  display: flex;
  flex-direction: column; 
  align-items: center;      
  position: fixed; 
  justify-content: center;  
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.map-container {
  position: fixed;                 
  bottom: 0;
  left: 50%;                     
  transform: translate(-50%, calc(100% - 60px));
  transition: transform 420ms cubic-bezier(.22,.9,.32,1), opacity 280ms ease;      
  z-index: 5;

  display: inline-block;          
  background: rgba(0,0,0,0.08);  
  overflow: visible;            
  background: rgb(82, 82, 90);   
  outline: 8px solid rgb(74,66,66);
  border-top: 4px solid rgb(239, 165, 57);
  width: 100%;
  height: auto;
  min-height: 200px;
  justify-content: center;
  display: flex;
  padding: 2em;
    filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.85))
        drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.6));
}


.map-container.active {
  transform: translate(-50%, 0);
  pointer-events: auto;          
}

.map-container .map-inner {
  position: relative;
  display: inline-block;      
  vertical-align: top;
}

.map-container .map-image {
  display: block;
  width: auto;                    
  max-width: calc(100vw - 48px); 
  height: auto;
  width: 100%;
}

.toggle-overlay-btn {
  margin-top: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  z-index: 6;
  position: fixed;
  top: -11.5%;
  right: 15%;
  background-color: rgb(74,66,66);
  border: none;
  clip-path: polygon(
  15% 0%,   
  85% 0%,  
  100% 100%,
  0% 100%   
);
font-size: 18px;


}

.make-guess-btn {
  margin: 0;
  padding: 0.5em 1em;
  cursor: pointer;
  z-index: 8;
  position: absolute;  
  top: 2%;          
  right: 1%;            
  background: linear-gradient(
    to bottom,
    rgb(41, 140, 231) 0%,  
    rgb(41, 140, 231) 50%, 
    rgb(16, 90, 214) 50%,  
    rgb(16, 90, 214) 60%, 
    rgb(0, 49, 198) 60%,     
    rgb(0, 49, 198) 100%  
  );
}

.result-cell-location-name{
  margin: 0;
  padding: 0.5em 6em;
  z-index: 8;
  top: -6%;
}

.result-cell-location-name.correct{
    background: linear-gradient(
    to bottom,
    rgb(90, 181, 41) 0%,  
    rgb(90, 181, 41) 50%, 
    rgb(74, 148, 41) 50%,  
    rgb(74, 148, 41) 60%, 
    rgb(74, 132, 49) 60%,     
    rgb(74, 132, 49) 100%  
  );
}

.result-cell-location-name.wrong{
  background: linear-gradient(
    to bottom,
    rgb(239, 57, 57) 0%,  
    rgb(239, 57, 57) 50%, 
    rgb(198, 66, 66) 50%,  
    rgb(198, 66, 66) 60%, 
    rgb(173, 66, 66) 60%,     
    rgb(173, 66, 66) 100%  
  );
}

.make-guess-btn:hover{
  filter: brightness(0.85);
}

.location-card {
  position: absolute;
  top: 2%;
  left: 1%;
  z-index: 5;
  width: 25%;
  padding: 8px;
  max-width: 425px;
  display: inline-block;
    background: linear-gradient(
    to bottom,
    rgb(41, 140, 231) 0%,    
    rgb(41, 140, 231) 50%, 
    rgb(16, 90, 214) 50%, 
    rgb(16, 90, 214) 60%,  
    rgb(0, 49, 198) 60%,      
    rgb(0, 49, 198) 100%      
  );
  border-radius: 8px;
  box-sizing: border-box;
}

.location-info {
  width: 100%;
  z-index: 6;
  display: flex;
  flex-direction: column;
}

.location-info h2 {
  font-size: 30px;
  margin: 0 0 0.2em 0;
  padding-bottom: 0.2em;
}

.location-details p {
  margin: 0.2em 0;
  font-size: 12px;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 60vw;
  height: 80vh;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid red;
  border-radius: 50%;    
  z-index: 0;           
}

.location-image {
  position: relative;
  z-index: 1;
  display: block;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  object-fit: contain;
  top: 10px;
  left: 10px;
}

.map-image {
  display: block;
  height: auto;
  z-index: 1;
  width: auto;  
  height: auto;     
  max-width: none; 
}

.map-grid {
  position: absolute;
  z-index: 7;
  display: grid;
  grid-template-columns: repeat(var(--cols, 1), 1fr);
  grid-template-rows:    repeat(var(--rows, 1), 1fr);
  pointer-events: none;    
  top: 4px;
  left: 3.8px;
  width: calc(100% - 7px);  
  height: calc(100% - 4px);
}


.grid-cell {
  position: relative;
  pointer-events: auto;    
  overflow: visible;
}

.grid-cell input[type="radio"] {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  opacity: 0;
}


.cell-label {
  position: absolute;
  inset: 0;                
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.cell-label.inactive{
  cursor: default;
  pointer-events: none;
}

.grid-cell input[type="radio"]:checked + .cell-label {
  outline: 6px solid rgb(247, 247, 247);
  animation: scaleUp 0.5s infinite steps(1, start);
  inset: 0px;
  content: "";
  z-index: 9999;
}

.grid-cell input[type="radio"]:checked + .cell-label::after {
  content: "";
  position: absolute;
  inset: -4px;
  border: 4px solid rgb(231, 57, 57);
  box-sizing: border-box;
}

.grid-cell input[type="radio"]:checked + .cell-label::before {
  content: "";
  position: absolute;
  inset: 0px;
  border: 2px solid rgb(247, 247, 247);
  box-sizing: border-box;
}


.grid-cell.highlight-green {
  background: rgba(0, 200, 0, 0.748);
}
.grid-cell.highlight-yellow {
  background: rgba(255, 255, 0, 0.35);
}
.grid-cell.highlight-red {
  background: rgba(231, 57, 57, 0.35);
}

.grid-cell.highlight-green.border-top    { border-top: 3px solid green; }
.grid-cell.highlight-green.border-bottom { border-bottom: 3px solid green; }
.grid-cell.highlight-green.border-left   { border-left: 3px solid green; }
.grid-cell.highlight-green.border-right  { border-right: 3px solid green; }

.grid-cell.highlight-yellow.border-top    { border-top: 3px solid goldenrod; }
.grid-cell.highlight-yellow.border-bottom { border-bottom: 3px solid goldenrod; }
.grid-cell.highlight-yellow.border-left   { border-left: 3px solid goldenrod; }
.grid-cell.highlight-yellow.border-right  { border-right: 3px solid goldenrod; }

.grid-cell.highlight-red.border-top    { border-top: 3px solid rgb(231, 57, 57); }
.grid-cell.highlight-red.border-bottom { border-bottom: 3px solid rgb(231, 57, 57); }
.grid-cell.highlight-red.border-left   { border-left: 3px solid rgb(231, 57, 57); }
.grid-cell.highlight-red.border-right  { border-right: 3px solid rgb(231, 57, 57); }

.grid-cell input[type="radio"]:checked + .cell-label.disabled {
  animation: none !important;
  pointer-events: none;
  scale: 1.1;
}

.map-grid.disabled {
  pointer-events: none;
}

@keyframes scaleUp {
  0%, 100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
}

.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-img {
  width: 100%;
  height: 100%;
}

.border-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; 
  pointer-events: none;  
  image-rendering: pixelated; 
  z-index: 2;
  filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.85))
        drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.6));
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px);
  position: absolute;
}
.pixel-corners {
  border: 4px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(4px 6px,
    6px 6px,
    6px 4px,
    calc(100% - 6px) 4px,
    calc(100% - 6px) 6px,
    calc(100% - 4px) 6px,
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 4px),
    6px calc(100% - 4px),
    6px calc(100% - 6px),
    4px calc(100% - 6px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px,
    0px 50%,
    4px 50%,
    4px 6px,
    6px 6px,
    6px 4px,
    calc(100% - 6px) 4px,
    calc(100% - 6px) 6px,
    calc(100% - 4px) 6px,
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 4px),
    6px calc(100% - 4px),
    6px calc(100% - 6px),
    4px calc(100% - 6px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(48,48,48);
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -4px;
}




.line-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* line won't block clicks */
}