
<div class="wrapper">

  <div class="background-wrapper">
    <img src="assets/night-forest-large.jpg" alt="Background Image" class="background-img" />
  </div>

  <div class="image-container">
    <img [src]="image_url" alt="Location Icon" class="location-image" />
    <img src="/assets/border-full-transparent.png" class="border-overlay" />
  </div>

  <div class="map-container" [class.active]="overlayActive">
    <button (click)="overlayActive = !overlayActive" class="toggle-overlay-btn">
      {{ overlayActive ? 'Hide Map' : 'Show Map' }}
    </button>
      
    <div class="map-inner">
      @if(!madeGuess){
        <button class="make-guess-btn" (click)="makeGuess()" [disabled]="!overlayActive">Make Guess</button>
      }
      @else {
        <button class="make-guess-btn" (click)="nextRound()" [disabled]="!overlayActive">Next Round</button>
      }
      <img src="assets/johto-kanto-x4.jpg" alt="Game Map" class="map-image" />
        <div class="map-grid" [attr.style]="'--rows:' + rows + '; --cols:' + cols + ';'">
          <ng-container *ngFor="let r of [].constructor(rows); let i = index">
            <ng-container *ngFor="let c of [].constructor(cols); let j = index">
              <div 
                class="grid-cell"
                [class.reveal]="madeGuess && resultCell?.row === i && resultCell?.col === j"
                [class.highlight]="isHighlighted(i, j)"
                [ngClass]="getBorderClasses(i, j)"
              >
                <input
                  type="radio"
                  name="grid"
                  [id]="'item' + i + '_' + j"
                  [checked]="selectedCell.row === i && selectedCell.col === j"
                  (change)="cellChange($event, i, j)"
                  [disabled]="madeGuess"
                  
                />
                <label 
                  [class.inactive]="!overlayActive" 
                  class="cell-label" 
                  [for]="'item' + i + '_' + j"
                  [class.disabled]="madeGuess"
                  [attr.data-coords]="i + ',' + j"
                ></label>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
  </div>

</div>